.landingPageContainer {
  min-height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.landingPageHeader {
  /* margin: var(--space-lg) 0px; */
}

.landingPageInfoSection {
  font-size: var(--font-size-lg);
  inline-size: min(860px, 96%);
  margin-inline: auto;
  position: relative;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  margin-bottom: var(--space-lg);
}
@media screen and (max-width: 700px) {
  .infoContainer {
    flex-direction: column;
  }
}
